html,
body {
    margin: 0px;
    scroll-behavior: smooth;
}


/*


HOME section 


*/

#home video {
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
    margin-bottom: -27px;
}

#home {
    position: relative;
    margin-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home p {
    background: transparent;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    color: aliceblue;
    margin: auto;
    /* This is for centering the text 
    in the middle of the section*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

#home span {
    padding: 10px;
    color: #e31b6d;
}


/*
#home h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: -250px;
    left: 0;
    z-index: 30;
    position: relative;
    color: aliceblue;
    margin: 0;
}
*/


/*


NAV section (JS in HTML)


*/

nav {
    position: absolute;
    bottom: -62px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #040b1f;
    line-height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 3px solid #04c2c9;
}

nav ul {
    padding-left: 2%;
}

nav li {
    float: left;
    list-style-type: none;
    margin: 0px 15px;
}

.nav.fixed {
    position: fixed !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
}

nav li a {
    text-decoration: none;
    color: aliceblue;
}

nav li a:hover {
    color: #e31b6d;
}

.active {
    color: #e31b6d !important;
}


/*


ABOUT section 


*/

#about {
    padding-top: 60px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #151241;
}

#about h1 {
    margin: 60px;
    text-align: center;
    color: #e31b6d;
}

.row {
    display: flex;
    flex: auto auto;
}

.column {
    flex: auto;
    padding: 10px;
}

#sec {
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

#profile_pic {
    height: 350px;
}

.column {
    text-align: center;
    color: rgb(190, 213, 233);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
}

.column h2 {
    line-height: 10px;
}

.column h3 {
    color: rgb(122, 150, 175);
}

.column a {
    color: #e31b6d;
}

.row:after {
    /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}


/*


SKILLS section


*/

#skills {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #19154b;
}

#skills h1 {
    margin-top: 50px;
    text-align: center;
    color: #e31b6d;
}

#skills .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#skills .column {
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#skills img {
    max-width: 90%;
}

#text {
    max-width: 50%;
}


/*

Work Experience Section

*/

#work_exp {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #151241;
}

#work_exp h1 {
    margin-top: 50px;
    text-align: center;
    color: #e31b6d;
}

#work_exp li {
    margin-bottom: 20px;
}

#ceridian,
#roots,
#waterloop {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 8%;
    margin-right: 8%;
    background: #cac3c6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#logo {
    display: flex;
    height: 60px;
    align-items: center;
    margin: 10px;
    margin-top: 25px;
}

#header {
    display: flex;
    align-items: center;
    margin: 10px;
}

#header h3 {
    display: flex;
    align-items: center;
}

h3.position {
    margin-bottom: 0;
}

hr {
    margin-left: 2%;
    margin-right: 2%;
}

.date {
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 20px;
}

#date_footer {
    margin: 0;
    height: 40px;
    background-color: grey;
}


/*

Education Section

*/

#education {
    padding-top: 60px;
    padding-bottom: 140px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #19154b;
}

#education a {
    text-decoration: none;
}

#education h1 {
    text-align: center;
    color: #e31b6d;
}

.triangle-down {
    width: fit-content;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #555;
}

svg {
    background-color: #252934;
}


/*

Contact section

*/

#contact {
    margin: 0;
    margin-top: -23px;
    padding-top: 80px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    background-color: #252934;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#contact h1 {
    text-align: center;
    color: #e31b6d;
    font-size: 40px;
}

#contact h3 {
    text-align: center;
    color: #04c2c9;
    font-size: 15px;
}

#contact_form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

form {
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

input,
textarea {
    text-align: left;
    background-color: #1e242c;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    margin-bottom: 3px;
    outline: none;
    padding: 10px;
    width: 100%;
}

textarea {
    resize: none;
}

#submit {
    width: 100px;
    text-align: center;
    border: 2px solid #04c2c9;
    margin-top: 6px;
    cursor: pointer;
}


/*

Footer section

*/

footer {
    background-color: #1b242f;
    padding: 30px;
    padding-top: 70px;
}

.fa {
    padding: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github,
.fa-linkedin,
.fa-envelope {
    background: #262f38;
    color: white;
}

.fa-github:before,
.fa-linkedin:before,
.fa-envelope:before {
    font-size: 30px;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column1 {
    text-align: center;
    color: rgb(190, 213, 233);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

footer p {
    color: #8f9aa7;
    opacity: 0.6;
}


/*

Go To Top button 

*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #e31b6d;
    cursor: pointer;
    padding-top: 5px;
    transition: ease-in;
    opacity: 0;
}

#myBtn:hover {
    background-color: #555;
}

#myBtn span {
    transform: rotate(-90deg);
}

.material-icons {
    font-size: 40px !important;
}

.elementToFadeIn {
    opacity: 1 !important;
    animation: fade 2s linear;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.elementToFadeOut {
    opacity: 0 !important;
    animation: fadeout 1s linear;
    cursor: default !important;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}