html,
body {
    margin: 0px;
}

#home video {
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
    margin-bottom: -27px;
}

#home {
    position: relative;
    margin-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home p {
    background: transparent;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    color: aliceblue;
    margin: auto;
    /* This is for centering the text 
    in the middle of the section*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

#home span {
    padding: 10px;
    color: #e31b6d;
}

#home h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: -250px;
    left: 0;
    z-index: 30;
    position: relative;
    color: aliceblue;
    margin: 0;
}

nav {
    position: absolute;
    bottom: -58px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #040b1f;
    line-height: 60px;
    display: flex;
    justify-content: left;
}

nav li {
    float: left;
    list-style-type: none;
    margin: 0px 15px;
}

.nav.fixed {
    position: fixed !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
}


/*
nav li {
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
    background-color: #040b1f;
    padding-left: 8%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li a:hover {
    color: #e31b6d;
}
*/

#about {
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    font-size: 20px;
    background: #4e5e8b;
}

#about h1 {
    margin: 20px;
    text-align: center;
}