html,
body {
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin-right: -1px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


/*


HOME section 


*/

#home video {
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
    margin-bottom: -27px;
}

#home {
    position: relative;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#home p {
    background: transparent;
    height: 100%;
    width: 100%;
    /*z-index: 20;*/
    position: absolute;
    top: 0;
    left: 0;
    color: aliceblue;
    margin: auto;
    /* This is for centering the text 
    in the middle of the section*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

@media screen and (max-width: 900px) {
    .row {
        flex-wrap: wrap-reverse !important;
    }
    #button_p {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 450px) {
    #button_p {
        display: none;
    }
    .nav {
        bottom: -120px !important;
    }
}

@media screen and (max-width: 550px) {
    #intro {
        font-size: 23px !important;
    }
}

@media screen and (min-height: 1000px) {
    #button_p {
        padding-top: 200px !important;
    }
}

.reduced_mobile_size {
    font-size: 25px !important;
}

#intro,
#button_p,
.row {
    animation: Slide_Up 1.4s ease;
}

@keyframes Slide_Up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#home span {
    padding: 10px;
    padding-left: 10px;
    color: #e31b6d;
}

#home a {
    text-decoration: none;
}

#headerBtn {
    display: flex;
    outline: none;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
    padding-bottom: 0px;
    font-size: 16pt;
    color: #fff;
    /* padding-left: 11px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;*/
    justify-content: center;
    align-items: center;
}

#headerBtn:hover>span {
    color: #04c2c9;
}

#headerBtn:hover {
    animation: buttonfade 100s linear;
}

@keyframes buttonfade {
    0% {
        background-color: transparent;
    }
    0.5% {
        background-color: #e31b6d;
    }
    100% {
        background-color: #e31b6d;
    }
}

#headerBtn div {
    padding-left: 0.4em;
}

#headerBtn span {
    display: inline;
    padding: 0.1em;
}

#button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button_p {
    position: absolute;
    bottom: 0;
}

.button_ipad_mobile_view {
    padding-top: 200px !important;
}

.hidden {
    opacity: 0 !important;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.7, .7)
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-250px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(250px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.fade-in-element {
    animation: fade-in 1.4s;
}

.slide-in-element {
    animation: slide-in 1s;
}

.slide-in-right-element {
    animation: slide-in-right 1s;
}


/*#headerBtn span {
    transform: rotate(-90deg);
}

.material-icons {
    font-size: 40px !important;
}*/


/*
#home h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: -250px;
    left: 0;
    z-index: 30;
    position: relative;
    color: aliceblue;
    margin: 0;
}
*/


/*


NAV section (JS in HTML)


*/

nav {
    position: absolute;
    bottom: -62px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #040b1f;
    line-height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 3px solid #04c2c9;
}

nav ul {
    padding-left: 2%;
    width: 100%;
}

nav .icon {
    display: none;
}

.topnav_resume {
    float: right !important;
    padding-right: 10px;
}

@media screen and (max-width: 835px) {
    .nav a {
        display: none;
    }
    .nav a.icon {
        float: left;
        display: block;
        font-size: 30px;
        color: #e31b6d;
    }
}


/*
















*/


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #151b24;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #e31b6d;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .resume {
    position: absolute;
    font-size: 25px;
    bottom: 0;
    left: 0;
    padding-bottom: 3em;
    white-space: nowrap;
    width: 100%;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*





*/

nav li {
    float: left;
    list-style-type: none;
    margin: 0px 15px;
}

.nav.fixed {
    position: fixed !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
}

nav li a {
    text-decoration: none;
    color: aliceblue;
}

nav li a:hover {
    animation: navbuttonfade 100s linear;
}

@keyframes navbuttonfade {
    0% {
        color: white;
    }
    0.3% {
        color: #e31b6d;
    }
    100% {
        color: #e31b6d;
    }
}

.fa-bars {
    color: aliceblue;
    background-color: transparent !important;
}


/*


ABOUT section 


*/

#about {
    padding-top: 120px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #0d1019;
}

#about h1 {
    margin: 60px;
    margin-bottom: 10px;
    text-align: center;
    color: #e31b6d;
    font-size: 30pt;
}

.hori_line {
    width: 7%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    background-color: #e31b6d;
    height: 4px;
    border: none;
    outline: none;
}

.row {
    display: flex;
    flex: auto auto;
}

.stacked_view {
    flex-wrap: wrap-reverse !important;
}

.column {
    flex: auto;
    padding: 10px;
}

#sec {
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

#profile_pic {
    height: 350px;
}

.column {
    text-align: center;
    color: rgb(190, 213, 233);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
}

.column h2 {
    line-height: 10px;
}

.column h3 {
    color: rgb(122, 150, 175);
}

.column a {
    color: #e31b6d;
    text-decoration: none;
}

.row:after {
    /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}


/*


SKILLS section


*/

#skills {
    padding-top: 30px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #10131d;
}

#skills h1 {
    margin-top: 60px;
    text-align: center;
    color: #e31b6d;
    font-size: 30pt;
}

#skills .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#skills .column {
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#skills img {
    max-width: 90%;
}

#text {
    max-width: 50%;
}


/*

Work Experience Section

*/

#work_exp {
    padding-top: 30px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #0d1019;
}

#work_exp h1 {
    margin-top: 60px;
    text-align: center;
    color: #e31b6d;
    font-size: 30pt;
}

#work_exp #work_line {
    width: 7%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    background-color: #e31b6d;
    height: 4px;
    border: none;
    outline: none;
}

#work_exp li {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}

#ceridian,
#roots,
#waterloop {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 8%;
    margin-right: 8%;
    background: #cac3c6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#logo {
    display: flex;
    height: 60px;
    align-items: center;
    margin: 10px;
    margin-top: 25px;
}

#header {
    display: flex;
    align-items: center;
    margin: 10px;
}

#header h3 {
    display: flex;
    align-items: center;
}

h3.position {
    margin-bottom: 0;
}

#work_exp hr {
    margin-left: 2%;
    margin-right: 2%;
}

.date {
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 20px;
}

#date_footer {
    margin: 0;
    height: 40px;
    background-color: grey;
}


/*

Education Section

*/

#education {
    padding-top: 60px;
    padding-bottom: 140px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: #10131d;
}

#education a {
    text-decoration: none;
}

#education h1 {
    text-align: center;
    color: #e31b6d;
    font-size: 30pt;
}

.triangle-down {
    width: fit-content;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #555;
}

svg {
    background-color: #0c0e17;
}


/*

Contact section

*/

#contact {
    margin: 0;
    margin-top: -23px;
    padding-top: 80px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    background-color: #0c0e17;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#contact h1 {
    text-align: center;
    color: #e31b6d;
    font-size: 40px;
}

#contact h3 {
    text-align: center;
    color: #04c2c9;
    font-size: 15px;
}

#contact_form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

form {
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

input,
textarea {
    text-align: left;
    background-color: #10131d;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    margin-bottom: 3px;
    outline: none;
    padding: 10px;
    width: 100%;
}

textarea {
    resize: none;
}

#submit {
    width: 100px;
    text-align: center;
    border: 2px solid #04c2c9;
    margin-top: 6px;
    cursor: pointer;
}

#contact .button:hover {
    animation: footerbuttonfade 100s linear;
}


/*

Footer section

*/

footer {
    background-color: #060a10;
    padding: 30px;
    padding-top: 70px;
}

.fa {
    padding: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    animation: footerbuttonfade 100s linear;
}

@keyframes footerbuttonfade {
    0% {
        background-color: #262f38;
    }
    0.5% {
        background-color: #e31b6d;
    }
    100% {
        background-color: #e31b6d;
    }
}

.fa-github,
.fa-linkedin,
.fa-envelope {
    background: #0c0e17;
    color: white;
}

.fa-github:before,
.fa-linkedin:before,
.fa-envelope:before {
    font-size: 30px;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column1 {
    text-align: center;
    color: rgb(190, 213, 233);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

footer p {
    color: #8f9aa7;
    opacity: 0.6;
}


/*

Go To Top button 

*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #e31b6d;
    cursor: pointer;
    padding-top: 5px;
    transition: ease-in;
    opacity: 0;
}

#myBtn:hover {
    opacity: 0.7;
    background-color: #555;
}

#myBtn span {
    transform: rotate(-90deg);
}

.material-icons {
    font-size: 40px !important;
}

.elementToFadeIn {
    opacity: 1 !important;
    animation: fade 2s linear;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.elementToFadeOut {
    opacity: 0 !important;
    animation: fadeout 1s linear;
    cursor: default !important;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
